﻿@{
    ViewData["Title"] = "About";
}

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-12 order-lg-1 my-auto showcase-text no-padding">
                <h2>Umbrella Group</h2>
                <p class="lead mb-0">
                    The company consists of the specialists with the experience in quality, health, safety and environment fields. The members of the group has been working for long for the international companies such as BP, Saipem, Bectel, HeidelbergCement and etc to provide effective services for maintain safe work practices, achieve high quality production and protect the environment from negative impact. In the attached presentation, all projects are listed. (see link bellow)
                </p>
                <a href="~/files/portfolio.pdf" target="_blank">Organization Presentation - GEO (Clock to Download)</a>
            </div>
        </div>
    </div>
</section>

<section class="testimonials text-center bg-light no-padding">
    <div class="container no-padding">
        <h2 class="mb-5">Organization Representatives</h2>
        <div class="row">
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/testimonials-1.jpg" alt="">
                    <h5>George Shiukashvili</h5>
                    <p class="font-weight-light mb-0">
                        <b>Position:</b> CEO
                        <br />
                        <b>eMail:</b> gshiukashvili@gmail.com
                        <br />
                        <b>Phone:</b> +995577343452
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/testimonials-2.jpg" alt="">
                    <h5>Levan Japaridze</h5>
                    <p class="font-weight-light mb-0">
                        <b>Position:</b> QA/QC Engineer
                        <br />
                        <b>eMail:</b> ljaparid@gmail.com
                        <br />
                        <b>Phone:</b> +995577990173
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/testimonials-3.jpg" alt="">
                    <h5>Iveri Asanidze</h5>
                    <p class="font-weight-light mb-0">
                        <b>Position:</b> HSE Engineer
                        <br />
                        <b>eMail:</b> asanidzeiveri@gmail.com
                        <br />
                        <b>Phone:</b> +995555396290
                    </p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/img/testimonials-4.jpg" alt="">
                    <h5>Givi Lapachishvili</h5>
                    <p class="font-weight-light mb-0">
                        <b>Position:</b> Project Engineer/Designer
                        <br />
                        <b>eMail:</b> givilapachishvili@gmail.com
                        <br />
                        <b>Phone:</b> +995593560866
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
