﻿@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead -->
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/slide1.jpg" class="img-centered" alt="Los Angeles">
        </div>
        <div class="carousel-item">
            <img src="~/images/slide2.jpg" class="img-centered" alt="Chicago">
        </div>                      
        <div class="carousel-item"> 
            <img src="~/images/slide3.jpg" class="img-centered" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3>Consulting</h3>
                    <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>Training</h3>
                    <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                    </div>
                    <h3>Outsourcing</h3>
                    <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Consulting</h2>
                <p class="lead mb-0">
                    • Human resource control for the compatibility to the given tasks.
                    <br />
                    • Staff Augmentation and outsourcing.
                    <br />
                    • Creating management procedures focusing on QHSE disciplines.
                    <br />
                    • Supporting work teams for managing and controling construction and operation risks
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Training</h2>
                <p class="lead mb-0">
                    <b>Training for workforces for incrasing safety culture in teams.</b>
                    <br />
                    • General QHSE topics and practices.
                    <br />
                    • Reasons and needs for maintaining safe conditions and practices. during the engineering activities.
                    <br />
                    • Explaining responsibilities and rights.
                    <br />
                    • Encouraging teams for being ready to report and participate in improvements for conditions and issues.
                    <br />
                    <br />

                    <b>Training for supervisors</b>
                    <br />
                    • Training the set of disciplines related to health, safety, environment and quality.
                    <br />
                    • Levels of responsibilities
                    <br />
                    • Control of work (supervision, permissin and restrictiong practices).
                    <br />
                    • Obtaining authority in the workforce
                    <br />
                    • Developing the skills for observing and detecting unsafe conditions and acts.
                    <br />
                    • Managing emergency
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Outsourcing for other disciplines related to Engineering</h2>
                <p class="lead mb-0">
                    <br />
                    Involving high level specialists in the rigorous projects including the number of fields that are important for safe process and high quality production.
                    <br />
                    <br />
                    • Construction Design (drawings, visual design)
                    <br />
                    • Ecology and Integrity (biology, zoology, geology).
                    <br />
                    • Security
                    <br />
                    • Physical standardization (electricity, machinery development, hydrodynamics, and hazardous energy control.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Organization Representatives</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
                    <h5>George Shiukashvili</h5>
                    <p class="font-weight-light mb-0">
                        <b>Position:</b> CEO
                        <br />
                        <b>eMail:</b> gshiukashvili@gmail.com
                        <br />
                        <b>Phone:</b> +995577343452
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
                    <h5>Levan Japaridze</h5>
                    <p class="font-weight-light mb-0">
                        <b>Position:</b> QA/QC Engineer
                        <br />
                        <b>eMail:</b> ljaparid@gmail.com
                        <br />
                        <b>Phone:</b> +995577990173
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
                    <h5>Iveri Asanidze</h5>
                    <p class="font-weight-light mb-0">
                        <b>Position:</b> HSE Engineer
                        <br />
                        <b>eMail:</b> asanidzeiveri@gmail.com
                        <br />
                        <b>Phone:</b> +995555396290
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="mb-4">Our Partners</h2>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12">
                <section class="customer-logos slider">
                    <div class="slide"><a href="https://www.bp.com" target="_blank"><img src="~/images/partners/bp.png" ></a></div>
                    <div class="slide"><a href="https://www.worleyparsons.com" target="_blank"><img src="~/images/partners/wp.png"></a></div>
                    <div class="slide"><a href="http://azfen.com" target="_blank"><img src="~/images/partners/azfen.jpg"></a></div>
                    <div class="slide"><a href="http://www.tavconstruction.com" target="_blank"><img src="~/images/partners/tavc.jpg"></a></div>
                    <div class="slide"><a href="https://www.heidelbergcement.com" target="_blank"><img src="~/images/partners/heidelberg-cement.png"></a></div>
                    <div class="slide"><a href="https://www.bechtel.com" target="_blank"><img src="~/images/partners/bechtel.gif"></a></div>
                    <div class="slide"><a href="https://www.facebook.com/LTD.BSGroup" target="_blank"><img src="~/images/partners/bsg.jpg"></a></div>
                    <div class="slide"><a href="http://www.peri.ge" target="_blank"><img src="~/images/partners/peri.jpg"></a></div>
                </section>
            </div>
        </div>
    </div>
</section>