﻿@{
    ViewData["Title"] = "About";
}

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-12 order-lg-1 my-auto showcase-text no-padding">
                <h2>Projects</h2>
                <p class="lead mb-0">
                    The members of the Umbrella Consulting Group have been involved in the important and considerable projects in georgia with local and international companies and organizations. All of the projects have been finished successfully with high quality and standards of safety. Bellow we provided short list of projects where we have been involved as a project managers, HSE and QA/QC specialists.
                </p>
                <img class="img-centered" src="~/images/proj.jpg" />
                <p class="lead mb-0">
                    Our team members provided high quality service on those projects and created professional and responsible environment which was the main reason that achieved success. Gained knowledge and acquired skills which will be used in future to produce more effective materials and mechanizms for fileds related engineering.
                </p>
                <img class="img-centered" src="~/images/proj2.jpg" />
            </div>
        </div>
    </div>
</section>