﻿@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-12 order-lg-1 my-auto showcase-text no-padding">
                <h2>Services</h2>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/img/bg-showcase-1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Consulting</h2>
                <p class="lead mb-0">
                    • Human resource control for the compatibility to the given tasks.
                    <br />
                    • Staff Augmentation and outsourcing.
                    <br />
                    • Creating management procedures focusing on QHSE disciplines.
                    <br />
                    • Supporting work teams for managing and controling construction and operation risks
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/img/bg-showcase-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Training</h2>
                <p class="lead mb-0">
                    <b>Training for workforces for incrasing safety culture in teams.</b>
                    <br />
                    • General QHSE topics and practices.
                    <br />
                    • Reasons and needs for maintaining safe conditions and practices. during the engineering activities.
                    <br />
                    • Explaining responsibilities and rights.
                    <br />
                    • Encouraging teams for being ready to report and participate in improvements for conditions and issues.
                    <br />
                    <br />

                    <b>Training for supervisors</b>
                    <br />
                    • Training the set of disciplines related to health, safety, environment and quality.
                    <br />
                    • Levels of responsibilities
                    <br />
                    • Control of work (supervision, permissin and restrictiong practices).
                    <br />
                    • Obtaining authority in the workforce
                    <br />
                    • Developing the skills for observing and detecting unsafe conditions and acts.
                    <br />
                    • Managing emergency
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/img/bg-showcase-3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Outsourcing for other disciplines related to Engineering</h2>
                <p class="lead mb-0">
                    <br />
                    Involving high level specialists in the rigorous projects including the number of fields that are important for safe process and high quality production.
                    <br />
                    <br />
                    • Construction Design (drawings, visual design)
                    <br />
                    • Ecology and Integrity (biology, zoology, geology).
                    <br />
                    • Security
                    <br />
                    • Physical standardization (electricity, machinery development, hydrodynamics, and hazardous energy control.
                </p>
            </div>
        </div>
    </div>
</section>
